
<section>

        <div class="grid grid-cols-1 md:grid-cols-4 2xl:grid-cols-6 gap-4 cursor-pointer">
            @for (product of allProducts; track $index) {
    
            <div class="product p-3">
    
                <div class="relative">
                    <img [src]="product.imageCover" class="w-full block" [alt]="product.category.name">
                    <i #heart class="fa-regular fa-heart fa-xl absolute top-1 right-1 text-main" (click)="addToWishlist($event , product._id)"></i>
                </div>
                <h6 class="h6 text-main">{{product.category.name | uppercase}}</h6>
                <h5 class="font-semibold">{{product.title | trimText : 2}}</h5>
                <div class="flex flex-wrap justify-between items-center pt-1 "><span>{{product.price | currency : 'GBP'}}</span><span> @for (star of [1,2,3,4,5].slice( 0 , product.ratingsAverage ); track $index) {
                                    
                    <i class="fa-solid fa-star fa-xs rating-color"></i>

                }

                @if (product.ratingsAverage % 1 !== 0) {

                    <i class="fa-solid fa-star-half-stroke fa-xs rating-color"></i>

                }
                {{product.ratingsAverage}}</span></div>
                <button class="btn-main mt-3 w-full" (click)="addProductToCart(product.id)" >Add To Cart</button>
    
            </div>
    
            }
        </div>

</section>